@model GST_Billing.Models.ClientManagement
@{
    ViewBag.Title = "Client";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<link rel="stylesheet" type="text/css" href="../../../app-assets/css/pages/page-users.css">
<div class="row">
    <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
        <!-- Search for small screen-->
        <div class="container">
            <div class="row">
                <div class="col s10 m6 l6">
                    <h5 class="breadcrumbs-title mt-0 mb-0"><span>Client Details</span></h5>
                    <ol class="breadcrumbs mb-0">
                        <li class="breadcrumb-item">
                            <a href="../Home/index">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Master</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="../Master/Client">Client</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Client Details
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section users-view">
    <!-- users view media object start -->
    <div class="card-panel">
        <div class="row">
            <div class="col s12 m7">
                <div class="display-flex media">
                    <a href="#" class="avatar">
                        <img src="../../../app-assets/images/avatar/avatar-15.png" alt="users view avatar" class="z-depth-4 circle"
                             height="64" width="64">
                    </a>
                    <div class="media-body pl-4">
                        <h6 class="media-heading">
                            <span class="users-view-name">@Convert.ToString(Model.dt.Rows[0]["Company_Name"])</span>
                        </h6>
                        <span>Client Code:</span>
                        <span class="users-view-id">@Convert.ToString(Model.dt.Rows[0]["Client_Code"])</span>
                    </div>
                </div>
            </div>
            <div class="col s12 m5 quick-action-btns display-flex justify-content-end align-items-center pt-2">
                <a href="../Master/AddClient?clientid=@Convert.ToString(Model.dt.Rows[0]["Id"])" class="btn-small indigo">Edit</a>
            </div>
        </div>
    </div>
    <!-- users view media object ends -->
    <!-- users view card details start -->
    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12">
                    <table class="striped">
                        <tbody>
                            <tr>
                                <td>Contact Person:</td>
                                <td class="users-view-username">@Convert.ToString(Model.dt.Rows[0]["Contact_Person_Name"])</td>
                            </tr>
                            <tr>
                                <td>Mobile No:</td>
                                <td class="users-view-name">@Convert.ToString(Model.dt.Rows[0]["Mobile_No"])</td>
                            </tr>
                            <tr>
                                <td>E-mail:</td>
                                <td class="users-view-email">@Convert.ToString(Model.dt.Rows[0]["Email"])</td>
                            </tr>
                            <tr>
                                <td>Phone No:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["Phone_No"])</td>
                            </tr>
                            <tr>
                                <td>Created On:</td>
                                <td>
                                    @if (Convert.ToString(Model.dt.Rows[0]["Created_On"]) != "")
                                    {
                                        <span> @Convert.ToDateTime(Model.dt.Rows[0]["Created_On"]).ToString("dd MMM yyyy HH:mm tt")</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Created By:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["Created_By"])</td>
                            </tr>
                            <tr>
                                <td>Last Modified:</td>
                                <td>
                                    @if (Convert.ToString(Model.dt.Rows[0]["Modified_On"]) != "")
                                    {
                                        <span> @Convert.ToDateTime(Model.dt.Rows[0]["Modified_On"]).ToString("dd MMM yyyy HH:mm tt")</span>
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="mb-2 mt-2"><i class="material-icons">link</i> Website</h6>
                    <table class="striped">
                        <tbody>
                            <tr>

                                <td><a target="_blank" href="@Convert.ToString(Model.dt.Rows[0]["Website"])">@Convert.ToString(Model.dt.Rows[0]["Website"])</a></td>
                            </tr>

                        </tbody>
                    </table>
                    <h6 class="mb-2 mt-2"><i class="material-icons">location_on</i> Address Info</h6>
                    <table class="striped">
                        <tbody>
                            <tr>
                                <td>Details Address:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["Address"])</td>
                            </tr>
                            <tr>
                                <td>Country:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["Country"])</td>
                            </tr>
                            <tr>
                                <td>State:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["State"])</td>
                            </tr>
                            <tr>
                                <td>City:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["City"])</td>
                            </tr>
                        </tbody>
                    </table>
                    <h6 class="mb-2 mt-2"><i class="material-icons">error_outline</i> Other Info</h6>
                    <table class="striped">
                        <tbody>
                            <tr>
                                <td>GSTIN:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["GSTIN"])</td>
                                <td>PAN:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["PAN"])</td>
                            </tr>
                            <tr>
                                <td>LST:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["LST"])</td>
                                <td>TPT:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["TPT"])</td>
                            </tr>
                            <tr>
                                <td>VAT:</td>
                                <td>@Convert.ToString(Model.dt.Rows[0]["VAT"])</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- users view card details ends -->
    <!-- users view card data start -->
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h6 class="mb-2 mt-2"><i class="material-icons">location_on</i> Shipping Address</h6>
                <div class="col s12 m12">
                    @if (Model.dt1.Rows.Count == 0)
                    {
                        <span>No record found...</span>
                    }
                    else
                    {
                    <table class="responsive-table">
                        <thead>
                            <tr>
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>Pin Code</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Country</th>
                                <th>Contact Person</th>
                                <td>Created On</td>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.dt1.Rows.Count; i++)
                            {
                                <tr>
                                    <td>
                                        @Convert.ToString(Model.dt1.Rows[0]["Company_Name"])<br />
                                      GSTIN-@Convert.ToString(Model.dt1.Rows[0]["GSTIN"])
                                    </td>
                                    <td>@Convert.ToString(Model.dt1.Rows[0]["Address"])</td>
                                    <td>@Convert.ToString(Model.dt1.Rows[0]["Pin_Code"])</td>
                                    <td>@Convert.ToString(Model.dt1.Rows[0]["City"])</td>
                                    <td>@Convert.ToString(Model.dt1.Rows[0]["State"])</td>
                                    <td>@Convert.ToString(Model.dt1.Rows[0]["Country"])</td>
                                    <td>
                                        @Convert.ToString(Model.dt1.Rows[0]["Contact_Person"])
                                        @Convert.ToString(Model.dt1.Rows[0]["Mobile_No"])
                                    </td>
                                    <td><small> @Convert.ToDateTime(Model.dt1.Rows[0]["Created_On"]).ToString("dd MMM yyyy HH:mm tt")</small></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- users view card data ends -->
</div>